body {
  background: 'black';
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.pageBodyHyperlink {
  color: #99FF99;
}

.pageBodyHyperlink:hover {
  color: #9999FF;
}

a {
  color: #FECD2E;
}

a:hover {
  color: #FFAC20;
}

div.mainBody {
  height: 93vh;
  overflow: auto;
  padding: 5px; 
  padding-top: 15px;
  padding-bottom: 50px;
  width: 100%; 
}

.menuBar {
  display: flex;
  justify-content: center;
  height: 7vh;
  width: 100%;
}