node_modules
.env
.DS_Store
package-lock.json
build
schedulerJSON/
anser-wildcard-2023.pfx
anser-wildcard-2023.pem
anser-wildcard-2023.crt
anser-wildcard-2023.key
anser-wildcard-2023-decrypted.key
vesselJSON/
disconnectJSON/
SignatureImage/
Charts/
# Ignore Copilot instructions file
.github/copilot-instructions.md
# Ignore running updated file of changes
.github/meeting-notes.md